/* Note: 
 * I'm using a compiler to compile this less file to the styles.css file in the index.html level.
 * i.e. lessc less/styles.less > styles.css
*/
body {
	/*background-color: black;*/
	background: radial-gradient(circle 2500px at top left, black 14%, rgb(40, 69, 40) 50%);
	color: white;
	height: 970px;
	header {
		position: relative;
		h1 {
			  margin: 0;
			  font-size: 21px;
			  position: absolute;
			  top: 16px;
			  left: 42px;
		}
		img {
			margin-top: 20px;
		}
		span {
			  margin: 0;
			  font-size: 21px;
			  position: absolute;
			  top: 135px;
			  left: 56px;
			  &.second {
			  	left: 151px;
			  }
		}
	}
	section#play {
		width: 36%;
		margin: 0 auto;
	}
}